version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1993
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"

  auth-service:
    build: ./auth-service
    env_file:
      - ./auth-service/.env
    ports:
      - "3020:3020"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:1993@postgres:5432/auth_service_db
      CRM_WEBHOOK_URL: http://crm-service:4000/crm/login-event
      REDIS_URL: redis://redis:6379

  crm-service:
    build: ./crm-service
    ports:
      - "4000:4000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:1993@postgres:5432/crm_service_db
      REDIS_URL: redis://redis:6379

volumes:
  postgres_data:
